{% extends "layout.html" %}

{% block title %}Kohdan muokkaus{% endblock %}

{% block content %}

<h1>Kohdan muokkaus</h1>

<form action="/update_position" method="post">
  <p>
    Osakkeen nimi: <br />
    <input type="text" name="stock_name" value="{{ position.stock_name }}"/>
  </p>

  <p>
    Ex dividend date: <br />
    <input type="date" name="ex_dividend_date" value="{{ position.ex_dividend_date }}" />
  </p>

  <p>
    Record date: <br />
    <input type="date" name="record_date" value="{{ position.record_date }}"/>
  </p>

  <p>
    Payment date: <br />
    <input type="date" name="payment_date" value="{{ position.payment_date }}"/>
  </p>

  <p>
    Kommentti: <br />
    <textarea name="description" rows="4" cols="30">{{ position.description }}</textarea>
  </p>

  <input type="hidden" name="position_id" value="1" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä kohta" />
</form>

{% endblock %}