{% extends "layout.html" %}

{% block title %}Uusi kohta{% endblock %}

{% block content %}

<h1>Uusi positio</h1>

<form action="/create_position" method="post">
  <p>
    Osakkeen nimi: <br />
    <input type="text" name="stock_name" required />
  </p>

  <p>
    Osingon irtoamispäivä: <br />
    <input type="date" name="ex_dividend_date" required/>
  </p>

  <p>
    Täsmäytys päivä: <br />
    <input type="date" name="record_date" required/>
  </p>

  <p>
    Maksu päivä: <br />
    <input type="date" name="payment_date" required/>
  </p>

  <p>
    Kuvaus: <br />
    <textarea name="description" rows="4" cols="30"></textarea>
  </p>

  <p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">Valitse</option>
        {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}

    <input type="submit" value="Luo uusi kohta" />
  </p>
</form>

{% endblock %}