{% extends "layout.html" %}

{% block title %}Uusi kohta{% endblock %}

{% block content %}

<h1>Uusi kohta</h1>

<form action="/create_position" method="post">
  <p>
    Osakkeen nimi: <br />
    <input type="text" name="stock_name" />
  </p>

  <p>
    Ex dividend date: <br />
    <input type="date" name="ex_dividend_date" />
  </p>

  <p>
    Record date: <br />
    <input type="date" name="record_date" />
  </p>

  <p>
    Payment date: <br />
    <input type="date" name="payment_date" />
  </p>

  <p>
    Kommentti: <br />
    <textarea name="description" rows="4" cols="30"></textarea>
  </p>

  <p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">Valitse</option>
        {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}

    <input type="submit" value="Luo uusi kohta" />
  </p>
</form>

{% endblock %}